/* Banner */

.banner {
  background: #fff;
  padding: 93px 60px 74px;
  position: relative;
  margin-bottom: 138px;
  overflow: hidden;
}
@media (max-width: 588px) {
  .banner {
    padding: 40px;
  }
}
.banner__content {
  max-width: 500px;
  position: relative;
  z-index: 2;
}
.banner__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 123.6%;
  color: #2b2b2b;
  margin-bottom: 30px;
}
@media (max-width: 588px) {
  .banner__title {
    text-align: center;
    font-size: 48px;
  }
}

.title-banner__focus {
  color: #ffb400;
}
.banner__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-transform: capitalize;
  color: #767676;
  margin-bottom: 35px;
}
@media (max-width: 588px) {
  .banner__text {
    text-align: center;
  }
}

.banner__btn {
  border: none;
  padding: 16px 32px;
  background: #ffb400;
  border-radius: 5px;

  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #2b2b2b;
  font-family: inherit;
  cursor: pointer;
}
@media (max-width: 588px) {
  .banner__btn {
    display: block;
    margin: 0 auto;
  }
}

.banner__btn::after {
  content: url("../img/arrow-btn.svg");
  margin-left: 11px;
}

.banner__img {
  position: absolute;
  bottom: 0;
  right: 57px;
  z-index: 1;
}

@media (max-width: 740px) {
  .banner__img {
    right: 0;
    transform: translateX(50%);
  }
}
