@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("./banner.css");
@import url("./sidebar.css");
@import url("./nav.css");
@import url("./price-plans.css");
@import url("./services.css");
@import url("./recomend.css");
@import url("./portfolio.css");
@import url("./blog.css");
@import url("./contacts.css");
@import url("./brands.css");

/*  */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*  */
.page {
  font-family: "Inter", sans-serif;
}

.page__body {
  background: #f0f0f6;
}

.page__wrapper {
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.main {
  flex-basis: 970px;
  padding: 0 26px;
  box-sizing: content-box;
  z-index: 1;
}

@media (max-width: 1270px) {
  .main {
    flex-basis: 100%;
    padding: 0 15px;
  }
}

/* Toggle Nav */

.toggle-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  display: none;
}

@media (max-width: 1270px) {
  .toggle-nav {
    display: flex;
  }
}

.toggle-nav__btn {
  margin: 15px;
  width: 20px;
  height: 20px;
  border: none;
  background: none;
  transition: 0.3s ease-in-out;
}

.toggle-nav__btn span {
  display: block;
  position: relative;
  width: 100%;
  height: 2px;
  background: #ffb400;
}

.toggle-nav__btn span::before,
.toggle-nav__btn span::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background: #ffb400;
}

.toggle-nav__btn span::before {
  transform: translateY(-4px);
}

.toggle-nav__btn span::after {
  transform: translateY(4px);
}

.toggle-sidebar {
}
