@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("./banner.css");

@import url("./services.css");
@import url("./recomend.css");
@import url("./portfolio.css");
@import url("./blog.css");
@import url("./contacts.css");
@import url("./brands.css");

/*  */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*  */
.container {
  max-width: 970px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}
/*  */
.page {
  font-family: "Inter", sans-serif;
}

.page__body {
  background: #f0f0f6;
}
