/* Sidebar */

.sidebar {
  flex-basis: 305px;
  background: #fafafa;
  padding: 25px 40px;
  box-shadow: 4px 0px 10px rgba(47, 122, 249, 0.1);
  z-index: 2;
}

@media (max-width: 1270px) {
  .sidebar {
    position: fixed;
    transform: translateX(-100%);
    transition: 0.3s ease-in-out;
    left: 0;
    top: 0;
    height: 100%;
    overflow-y: scroll;
  }
  .sidebar.active {
    transform: translateX(0%);
  }
}
@media (max-width: 570px) {
  .sidebar {
    right: 0;
  }
}

/* Profile */

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 0;
  border-bottom: 1.5px solid #f0f0f6;
}
.profile__figure {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 30px;
}
.profile__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.profile__name {
  font-weight: 500;
  font-size: 18px;
  line-height: 123.6%;
  text-transform: capitalize;
  color: #2b2b2b;
  margin-bottom: 15px;
}
.profile__prof {
  font-size: 15px;
  line-height: 160%;
  text-transform: capitalize;
  color: #767676;
  margin-bottom: 15px;
}
.profile__icons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
}
.profile__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #ffb400;
}
.profile__icon {
  width: 14px;
  height: 14px;
  fill: #2b2b2b;
}

/* About */

.about {
  padding: 25px 0;
  border-bottom: 1.5px solid #f0f0f6;
}
.about__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.about__item {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  font-size: 15px;
  line-height: 160%;
  text-transform: capitalize;
  color: #2b2b2b;
}
.about__title {
  background: #ffb400;
  padding: 1px 5px;
}
.about__text {
}
