/* Slider */

.slider {
}
.slider__wrapper {
  display: flex;
  gap: 15px;
  overflow-x: auto;
  position: relative;
  height: 300px;
}
.slider__item {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: rgb(180, 180, 180);
  min-width: calc(100% / 3);
}
